body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #a7da1a, #f112ae),
              url('360_F_716469903_rbhsNUuVOAwoaihcMIJ58El5qrLsz7QL.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 3.0; /* Adjust this to make it lighter or darker */
  z-index: -1;
}

.container {
  text-align: center;
  background-color: #15cde1;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

#quote-box {
  margin: 20px 0;
}

#quote {
  font-size: 1.5em;
  color: #1d09cb;
}

#author {
  font-style: italic;
  color: #666;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background: #0c6de5;
  border: none;
  border-radius: 5px;
  color: rgb(237, 232, 236);
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #06f4a9;
}
